/* audio player */

.audio-player {
    background-color: #dfdfdf;
    max-width: 75%;
    margin: 0 auto;
}

.audio-player audio {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.album-title {
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
}

.playlist {
    height: 100px;
    width: 100%;
}
    .playlist img {
        height: 100%;
        float: left;
    }

.playlist-entries {
    height: 100%;
    margin: 0 0 0 115px;
    overflow-y: scroll;
}
    .playlist-entries li a {
        text-decoration: none;
        color: #333;
    }

    .playlist-entries li.active a {
        color: #33a;
        font-weight: bold;
    }

/* menu */
.site-menu {
    max-width: 75%;
    margin: 2em auto;
}

.site-links {
    padding: 0;
    margin-left: 0;
}
.site-link {
    display: block;
    font-size: 2em;
    height: 2em;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #dfdfdf;
    list-style-type: none;
}
.site-link a {
    padding: 0 0.5em;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 2em;
    position: relative;
}
    .site-link a img {
        position: absolute;
        top: 0.25em;
    }

    .site-link a span {
        padding-left: 2em;
    }