html, html body  {
margin:0;
padding:0;
height:100%;
}
	   a:link {
	   	color: red;
	   	text-decoration: none;
	   	border-bottom: 1px dashed;
	   }
	   
	   a:visited {
	   	color: #EA683A;
	   	text-decoration: none;
	   	border-bottom: 1px dashed;
	   }
	   
	   a:hover {
	   	color: red;
	   	text-decoration: none;
	   	border-bottom: 1px solid;
	   }
	   	  
		#banner {
			padding: 5px;
			margin-bottom: 5px;
			background-color: #E37B2C;
			font-size: 25px;
			font-family: sans-serif;
			font-weight: bold;
			color: white;
			text-align: center;			
			background-image: url(bgtile.png);
		}

		#content {
			padding: 5px;
			margin-left: 155px;
			margin-right: 155px;
			/* background-color: cfe0d1; */
			font-size: 13px;
			font-family: sans-serif;
			color: #1E4537;
			display:block;
			height:100%;
		}

		#sidebar-a {
			float: left;
			width: 180px;
			\width: 190px;
			w\idth: 180px;
			margin: 0;
			margin-right: 5px;
			padding: 5px;
			background-color: rgb(235, 235, 235);
			font-size: 12px;
			font-family: sans-serif;
			color: #3D3A6C;
			display:block;
			height:100%;
		}

		#sidebar-b {
			float: right;
			width: 180px;
			\width: 190px;
			w\idth: 180px;
			margin: 0;
			margin-left: 5px;
			padding: 5px;
			background-color: rgb(235, 235, 235);
			font-size: 12px;
			font-family: sans-serif;
			color: 3D3A6C;
			display:block;
			height:100%;
		}		
html>body  #content {
height:  auto;
min-height:100%;
}
html>body  #sidebar-a {
height:  auto;
min-height:100%;
}
html>body  #sidebar-b {
height:  auto;
min-height:100%;
}

.greylink{
 color: #666;
 }
		#footer {
			clear: both;
			padding: 5px;
			margin-top: 5px;
			background-color: rgb(233, 239, 245);
			font-size: 9px;
			font-style: italic;
			font-family: sans-serif;
			color: #9393aa;
		}