		body {
			margin: 0;
			font: 9px;
			font-family: verdana,arial,sans-serif;
			background-color: #e9d6bd;
			background-image: url('bktile.gif');
		}

		td {
			font-family: verdana,arial,sans-serif;
			vertical-align: top;
		}

		.title {
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
			color: #1aaebd;
			font-family: tahoma, arial,sans-serif;
		}

		.date {
			font-size: 13px;
			color: #bd5f1a;
			background-color: #eeeeff;
		}

		.news {
			font-size: 13px;
			font-family: tahoma, verdana, arial, helvetica, sans-serif;
			font-weight: normal;
		}

		/* CSS Tabs */
		#navcontainer {
			background-color: #e0a511;
			width: 100%;
			height: 17px;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}

		ul#navlist {
				margin: 0;
				padding: 0;
				list-style-type: none;
				white-space: nowrap;
		}

		ul#navlist li {
				float: left;
				font-family: verdana, tahoma, arial, sans-serif;
				font-size: 12px;
				font-weight: bold;
				margin: 0 0 0 0;
				padding: 5px 0 4px 0;
				background-color: #e0a511;
				/* border-top: 1px solid #944b35; */

		}

		#navlist a, #navlist a:link {
				margin: 0;
				padding: 5px 9px 4px 9px;
				color: #fff;
				text-decoration: none;
		}

		ul#navlist li#active {
				color: #000;
				background-color: #fff;
				border-bottom: 0;
				border-top: 1px solid #a95301;
				border-right: 1px solid #a95301;
				border-left: 1px solid #a95301;
				background-image: url('tabbg.png');
				background-repeat: no-repeat;
		}

		#navlist a:hover {
				color: #036;
				background-color: #fff;
				border-bottom: 1px solid #fff;
				border-top: 1px solid #a95301;
				border-right: 1px solid #a95301;
				border-left: 1px solid #a95301;
				margin: 0 0 0 0;
				padding: 4px 8px 4px 8px;
		}

		#navlist a#current { color: #000; }
		#navlist a#current:hover { color: #111; background-color: #fff;}

		#blurb, #tracklist, #order {
			padding: 5 5 5 5;
			margin: 10 10 10 10;
			border: 1px solid #127984;
			background-color: #d1efef;
			/* background-image: url(b_bk.gif); */
			color: #262a38;
			font-size: 8px !important;
			width: 350px;
		}

		#logo {
			font-size: 30px; color: #fff; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; height: 38px; background-color: #e0a511; font-weight: medium;
		}

		#wrapper {
			width: 98%; min-width: 595px; 
			background-color: #e0a511;
			margin-right: auto;
			margin-left: auto; 
			margin-top: 5px; 
			margin-bottom: 0px; 
			padding-bottom: 0px; 
			border: 1px solid #6e2416; left: 10px; position: absolute;
		}